
:root{
    --white: rgb(244, 244, 244);
    --black: rgb(17, 17, 17);
    --dark-red: rgb(240, 30, 44);

    --r-red: rgba(255, 87, 34, 0.5);
    --r-yellow: rgba(255, 235, 59, 0.5);
    --r-green: rgba(139, 195, 74, 0.5);
    --r-blue: rgba(63, 81, 181, 0.5);

    --r-red-flash: rgba(255, 87, 34, 1);
    --r-yellow-flash: rgba(255, 235, 59, 1);
    --r-green-flash: rgba(139, 195, 74, 1);
    --r-blue-flash: rgba(63, 81, 181, 1);
}

.color-bl {
    color: var(--black);
}

body{
    background-color: var(--black);
    color: var(--white);
    font-family: 'Press Start 2P', cursive;
}

.div-simon {
    width: 35%;
    height: 250px;
    border: black solid 5px;
    margin: 2%;
    border-radius: 20px;
}

#red {
    background-color: var(--r-red);
    cursor: pointer;
}
#green {
    background-color: var(--r-green);
    cursor: pointer;
}
#yellow {
    background-color: var(--r-yellow);
    cursor: pointer;
}
#blue {
    background-color: var(--r-blue);
    cursor: pointer;
}

.btn-mainsite {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}
.btn-mainsite:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color:rgba(255, 255, 255, 0.7) ;
}

.btn-rules {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}
.btn-rules:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color:rgba(255, 255, 255, 0.7) ;
}

.modale-regole-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}
.regole-div {
    width: 50%;
}

@media screen and (max-width: 610px){
    .regole-div {
        width: 100%; 
        padding: 20px;
    }
}

.btn-dismiss {
    padding: 20px;
    border: 1px solid var(--white);
    border-radius: 20px;
    transition: 0.5s;
}
.btn-dismiss:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color:rgba(255, 255, 255, 0.3) ;
}